@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600;700&display=swap');

@import url(./frameworks/bootstrap.css);
@import url(./frameworks/bootstrap-icons.css);
@import url(./frameworks/print.min.css);

@import url(./normalize.css);
@import url(./reset.css);
@import url(./colors.css);
@import url(./variables.css);

@import url(./components/no-script.css);
@import url(./components/loader.css);
@import url(./components/header.css);
@import url(./components/navbar.css);
@import url(./components/footer.css);
@import url(./components/cards.css);
@import url(./components/modal-confirm-redirect.css);
@import url(./components/modal-search.css);

html{
  scroll-behavior: smooth;
}

*{
  --bs-btn-font-family: "Inter", sans-serif !important;
  font-family: -apple-system, BlinkMacSystemFont, var(--font-default);
}

body *{
  font-family: -apple-system, BlinkMacSystemFont, var(--font-default);
}

body{
  background: var(--bckg-page);
  color: var(--bckg-fonts);
  user-select: none;
}

.none{
  display: none;
}

.block{
  display: block;
}

.arial{
  font-family: 'Arial', var(--font-default);
}

.swal2-html-container{
  font-size: 1rem !important;
}

.custom-tooltip{
  --bs-tooltip-font-size: 16px;
  --bs-tooltip-bg: #3049FF;
  --bs-tooltip-color: #F6F6F6;
  --bs-tooltip-opacity: 1;
  --bs-tooltip-margin: 1rem;
}

[data-action="contribute"], .btn-transparent{
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* color: #FFF; */
  /* border-radius: 5px; */
  backdrop-filter: blur(20px);
  margin-right: 0.25rem;
  transition: background-color 0.2s ease-in-out;
  
  &:hover{
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #262A2E;
  }
}

span[data-visual-tooltip]{
  cursor: default;
}

.select-exibition{
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

label.btn-dark{
  background: #212529 !important;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

input:checked ~ .btn-dark{
  opacity: 1;
}

.tooltip-dark{
  --bs-tooltip-font-size: 16px;
  --bs-tooltip-bg: #000 !important;
  --bs-tooltip-color: #F6F6F6 !important;
}

.results-search-element-exibition{
  display: none;
}

.modal-backdrop{
  opacity: 0.75 !important;
}

[data-action="ir-para-o-topo"]{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
  /* float: inline-end; */
}
