/* Loader */
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bckg-load-page);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: wait;
}

.spinner-first-load {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6.4px solid;
  border-color: #4D30FF50;
  border-right-color: #4D30FF;
  animation: spinner-d3wgkg 1.2s infinite linear;
}

@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}

